In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [119]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [120]:
train.isna().sum()

x    0
y    1
dtype: int64

In [121]:
test.isna().sum()

x    0
y    0
dtype: int64

In [122]:
train = train.dropna()

In [123]:
train.insert(0,'ones',1)
xtrain = train.drop('y',axis=1)
ytrain = train['x']

In [148]:
test.insert(0,'ones',1)
xtest = test.drop('y',axis=1)
ytest = test['y']

In [124]:
xtrain.head()

   ones     x
0     1  24.0
1     1  50.0
2     1  15.0
3     1  38.0
4     1  87.0

In [125]:
ytrain.head()

0    24.0
1    50.0
2    15.0
3    38.0
4    87.0
Name: x, dtype: float64

In [126]:
xtrain = np.array(xtrain)
ytrain = np.array(ytrain)

In [151]:
xtest = np.array(xtest)
ytest = np.array(ytest)

In [161]:
m = len(xtrain)

def h_x(x,Theta):
    temp =[]
    for i in range(0,len(x)):
        temp.append(np.sum(np.multiply(x[i],Theta[i])))
    return temp

def cost_function(x,y):
    e = np.sum(np.square(x-y))
    t = e/(2*m)
    return t

def gradient(x,y,Theta):
    alpha = 0.0001
    f_x = h_x(x,Theta)
    Theta1 = Theta - (alpha*(1/m)*np.sum(f_x-y)*x)
    return Theta1
        

def fit(xtrain,ytrain):
    Theta = np.ones(xtrain.shape)
    for _ in range(0,10000):
        Theta = gradient(xtrain,ytrain,Theta)
    y_pred = h_x(np.array(xtrain),Theta)
    return Theta

def predict(xtest,Theta):
    return h_x(xtest,Theta)

In [170]:
def score(original,predicted):
    num = ((original-predicted)**2).sum()
    den = ((original-original.mean())**2).sum()
    return 1-(num/den)

In [162]:
Theta = fit(xtrain,ytrain)

In [163]:
y_pred = predict(xtest,Theta)

In [171]:
print(score(ytest,y_pred))

0.9878978208960443